<!-- <form action="" method="post">
    <input type="text" name="name" placeholder="Insira um nome">
    <input type="email" name="email" placeholder="Insira um email">
    <input type="password" name="password" placeholder="Insira uma senha">
    <input type="submit" value="Cadastrar">

</form> -->
<body class="text-center overflow-hidden">
    
    {% include 'navbar.html' %}
    {% if session['user_type'] == '' %}
    <div class="row align-items-center" style="height: 100vh;">
      <div class="d-flex justify-content-center fw-bold">
          <div class="p-3 mb-2 bg-danger text-white rounded">FAÇA LOGIN PARA CONTINUAR</div>
          
        </div>
    </div>
    {%else%}

    <div class="row align-items-center" style="height: 90vh;">
      
      
      <div class="mx-auto col-4 col-md-4 col-lg-4">
        <img src="../static/add-user.png" style="height: 120px; width: 120px;">
        <form class="form-signin card mb-6" style="opacity: 0.9;" enctype=multipart/form-data method="post">
            <div class="p-5" style="border-bottom: 2px solid lightgray;">
                <h4>Cadastro de Usuários</h4>
              </div>
            <div class="form-group p-5">
                
                <div class="form-outline mb-4">
                  <input type="text" name="name" placeholder="Insira o nome do usuário" class="form-control" >
                </div>

                <div class="form-outline mb-4">
                    <input type="email" name="email" placeholder="Insira o email do usuário" class="form-control" />
                </div>
  
                  <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password" placeholder="Insira a senha do usuário" class="form-control" />
                </div>
                <div class="form-outline mb-4 d-flex flex-row">
                    <span class="form-check-label px-1" for="flexSwitchCheckDefault">Usuário Administrador</span>
                    <input class="form-check-input form-control" type="checkbox" name="isAdmin" id="flexSwitchCheckDefault">
                </div>


                
                <input type="submit" class="btn btn-primary" style="width:100% ; opacity: 1.0 !important;" value="Logar">
            </div>   
            
        
        </form>
      </div>
    </div>
    {%endif%}
</body>